name: Main action

on:
  push:
    branches:
      - main

jobs:
  tests:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:13.10
        env:
          POSTGRES_USER: django_user
          POSTGRES_PASSWORD: django_password
          POSTGRES_DB: django_db
        ports: 
          - 5432:5432
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    steps:
      - name: checkout the code
        uses: actions/checkout@v4

      - name: setup python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: install dependencies
        run: |
          pip install --upgrade-pip
          pip install -r ./backend/requierements.txt
          pip install ruff autopep8

      - name: ruff lint
        run:  ruff check ./backend/

      - name: autopep8 check
        run: autopep8 --exit-code --diff -r ./backend/kittygram_backend/*.py ./backend/cats/*.py

      - name: pytest tests
        env:
          POSTGRES_USER: django_user
          POSTGRES_PASSWORD: django_password
          POSTGRES_DB: django_db

          DB_HOST: 127.0.0.1
          DB_PORT: 5432
        run: |
          python ./backend/manage.py test

